<h1><%= @doctor.name %></h1>
<h2><%= @doctor.department %></h2>

<% @doctor.appointments.each do |a| %>
  <p><%= a.appointment_datetime.strftime('%B %d, %Y at %H:%M') %></p>
  <p><%= link_to a.patient.name, patient_path(a.patient) %></p>
<% end %>